
       
        #p_1{color:lightcoral; text-align: center;}
        .texto{color:lightseagreen; font-size: 45px;}
        body{background-color: black;}
        .nada{background-color: lightskyblue; border: 3px solid lightslategray; border-radius: 15px;}
        #p_2{border-radius: 50px;}
