
    h1{color:rgb(0, 0, 0)}
    p{color:rgb(0, 0, 0)}
    h2{color:rgb(10, 10, 0)}
    h3{color:rgb(5, 0, 0);font-size: 68px}
   #p_azul{color: rgb(0, 0, 0);text-align: right;}
   #p_roxo{text-align: center;}
   .texto{color:rgb(0, 0, 0)}
   .navI{background-color: rgb(179, 234, 255);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;}
    body{background-color: rgb(0, 0, 0);}
    .index2.html{text-align: center;}
